body {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;  
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    font-size: 30px;

}
.lock{
    background-color: #8888889d;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 22px;
}
