.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    color: #4caf50;
    border: 2px solid #ccc;
    width: 100%;
    position: relative;

    span {
        flex-grow: 1;
        text-align: center;
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;

        &:checked {
            background-color: #4caf50;
            border-color: #4caf50;

            &::after {
                content: '✔';
                font-size: 16px;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    svg {
        color: #ccc;
    }
}

.completed {
    color: #4caf4f77;
}

.update {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 70px;
    svg {
        cursor: pointer;

    }
}